<%- include("partials/header") -%>
<div class="textinformace">
<br>
<br>
<br>
<br>
<h2 class="h2text">Váš formulář byl uspěšně odeslán</h2>
<div class="row justify-content-center proobrazek">
<img class= "QR" src="/fotos/mailsend.png" alt="">
<a class="h2text" href="/"> Zpět na web</a>
</div>

</div>





<%- include("partials/footer") -%>
