<%- include("partials/header") -%>

<body>
 <div class="container main">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="horizontallinetop">
        <img class= "" src="/fotos/roj2.svg" alt="" width="400">
        </div>
          <div class="col">
          <img align="right" class= "maleslunecnice" src="/fotos/slunecnicesoloorez.png">
          </div>
          <div class="col">
          <h1 class= "Svatba">SVATBA<br>M a K</h1>
          </div>
          <div class="col">
          <img class= "maleslunecnice" src="/fotos/slunecnicesoloorez.png">
          </div>
      </div>

    </div>

      <h1 class= "kdykdeprogram">KDY</h1>
      <p class= "textclasic" >22.6.2024 od 11:00</p>
      <h1 class= "kdykdeprogram">KDE</h1>
      <p class= "textclasic" >Na statku ve Strižovicích<br>Adresa: Střižovice 11, 46345 Pěnčín</p>
      <div class="container">
      <div class="footer text-center">

      <button type="button" class="btn  btn-lg btn-floating mx-2 buttonbarfafooter" onclick="copyFunkction()">
        <i class="fa-solid fa-copy"></i>
  </button>

        <button type="button" class="btn  btn-lg btn-floating mx-2 buttonbarfafooter">

            <a  href="https://www.google.com/maps/place/Statek+St%C5%99%C3%AD%C5%BEovice/@50.5980323,15.0352529,14z/data=!4m6!3m5!1s0x47094c935ecd481b:0x6584389d10d9b65f!8m2!3d50.6017779!4d15.0555429!16s%2Fg%2F11gff8lr82?entry=ttu">
            <i class="fa-solid fa-location-dot googlemaps"></i></a>
            </button>

        </div>


        </div>



      <h1 class= "kdykdeprogram">PROGRAM</h1>
      <div class="row justify-content-center">
      <div class="col-auto">
        <table class="table table-responsive texttable">
<tr>
  <td>1</td>
  <td>Příjezd</td>
  <td>11:00</td>
</tr>
<tr>
  <td>2</td>
  <td>Obřad</td>
  <td>12:00</td>
</tr>
<tr>
  <td>3</td>
  <td>Focení</td>
  <td>12:30</td>
</tr>
<tr>
  <td>4</td>
  <td>Oběd</td>
  <td>14:00</td>
</tr>
<tr>
  <td>5</td>
  <td>Svatební program</td>
  <td>16:00</td>
</tr>
<tr>
  <td>6</td>
  <td>Večerní raut</td>
  <td>19:00</td>
</tr>
<tr>
  <td>7</td>
  <td>Party</td>
  <td>20:00</td>
</tr>
        </table>
      </div>
    </div>

    <div class="horizontalline">
    <img class= "" src="/fotos/roj2.svg" alt="" >
    </div>

<h1 class= "kdykdeprogram odsazenitextinformace">I&nbsp;NFORMACE</h1>
<div class="textinformace text-justify">
  <h2 class="h2text">Jak se dostanu na místo svatby ?</h2>
  <div class="row justify-content-center proobrazek">
  <img class= "obrazkyikony" src="/fotos/car.png" alt="">
  </div>
  <p class= "clasicparagraf ">Po příjezdu na statek, je potřeba se řídit této →→&nbsp;<a target="_blank" href="/fotos/mapacesta4.png">mapy</a>&nbsp;←←</p>
  <p class= "clasicparagraf">Průjezd přes vesnici není doporučen. Držte se GPS navigace, mapy s&nbsp;omezením a&nbsp;cedulí.</p>
  <p class= "clasicparagraf">Ztratili jste se nebo máte nějaký problém na&nbsp;cestě? Volejte na&nbsp;uvedená čísla:</p>
</div>
<div class="textinformace text-justify">
<p class= "phonenumber">770 601 223 <br> 608 211 838 </p>
<h2 class="h2text">Co na svatbě budeme jíst ?</h2>
<div class="row justify-content-center proobrazek">
<img class= "obrayekjidlo" src="/fotos/food.png" alt="">
</div>
<p class= "clasicparagraf">Můžete se těšit na&nbsp;hostinu v&nbsp;podobě polévky, bohatého rautu, večerního grilování,
variace minidezertů, vybraných alko a&nbsp;nealko nápojů.</p>
<div class="odsazeni">
  <h2 class="h2text">Jaké možnosti ubytování na svatbě jsou ?</h2>
</div>
<div class="row justify-content-center proobrazek">
<img class= "obrazkyikony" src="/fotos/sleep.png" alt="">
</div>
<p class= "clasicparagraf">Připravili jsme si pro vás několik možností ubytování. Na samotném statku je možnost ubytování ve&nbsp;společných
  prostorách pro více lidí, popřípadě možnost postavení stanu na&nbsp;přilehlé zahradě či přespání ve&nbsp;vlastním autě.
  V případě kdy zatoužíte po větším soukromí a&nbsp;pohodlí, poprosili bychom vás o&nbsp;individuální rezervaci některého z&nbsp;přilehlých hotelů na&nbsp;vlastní náklady.
  <a href="/fotos/ubytovani.pdf" download>V příloze</a> zasíláme seznam doporučených ubytování (odvoz po domluvě zajištěn).
  </p>
<p class= "clasicparagraf">
Vzhledem k&nbsp;omezené kapacitě statku bychom vás rádi požádali o&nbsp;potvrzení, který typ ubytování využijete. Následně vám bude navrženo ubytování podle dostupnosti.
</p>

</div>
<div class="horizontalline">
<img class= "" src="/fotos/roj2.svg" alt="" >
</div>
<div class="odsazeni">
  <h2 class="h2text">Svatební dary</h2>
</div>



<div class="odsazeniprosvatebnidary">
<img class= "obrazekkasicka" src="/fotos/ramecek2.svg" alt="">
<div class="textvobrazku"><p class= "clasicparagraf">Svatebčané naši milí, dovolte nám prosbičku, raději než věcné dary, naplňte nám
  kasičku. Mnohokrát vám děkujeme za každičký halíř, stokrát lepší než nést domů
  stodesátý talíř.</p>

</div>
</div>
<div class="odsazeni">
  <h2 class="h2text"> Dorazíte ? vyplňtě prosím tento formulář </h2>
</div>

<div class="odsazeni">
  </div>
<div class="d-flex justify-content-center">
<div class="col textinformace">



  <div class="form" style="border: 4px solid #E19C00; -moz-border-radius: 15px; border-radius: 15px;overflow: hidden;" >
    <div class="row">
      <div class="center">

      </div>
      <div class="center">
        <img class = "mailfoto" src="../fotos/mail.PNG" alt="">
      </div>
    </div>


  			<form action="http://192.168.0.111:3000/" method="post" class="contact-form">
  				<div class="flex-rev" >
  					<input type="text" class="contact-form-text"  placeholder="např...David Černý" name="yourname" required id="yourname" maxlength="25" />
  					<label for="name"><b>Jméno</b></label>
  				</div>
  				<div class="flex-rev">
  					<input type="email" placeholder="např...dave@seznam.cz" name="youremail" required id="youremail" maxlength="30"/>
  					<label for="email"><b>Tvůj Email</b></label>
  				</div>
            <div class="flex-rev">
    					<input type="text" placeholder="např.. a" name="yourubytovani" required id="yourubytovani" maxlength="1" />
    					<label for="email"><b>Ubytování</b><br>
                <ul class= "beztecek">
                  <li >&#160&#160 a) Jsem z rodiny</li>
                  <li >&#160&#160 b) Společné prostory</li>
                  <li >&#160&#160 c) Ve stanu nebo v autě</li>
                  <li >&#160&#160 d) Ubytování v hotelu <br> &#160&#160&#160&#160&#160  po vlastní ose</li>
                  </ul>
              </label>
    				</div>
            <div class="flex-rev">
              <input type="text" placeholder="např.. a" name="yourjidlo" required id="yourjidlo" maxlength="1"/>
              <label for="text"><b>Preference k jídlu</b><br>
                <ul class= "beztecek">
                  <li >&#160&#160 a) Sním všechno</li>
                  <li >&#160&#160 b) Jsem vegan</li>
                  <li >&#160&#160 c) Jsem vegetarián</li>
                  </ul>
              </label>
            </div>
  				<div class="flex-rev">
  					<textarea placeholder="Napiš něco... max 150 znaků" name="yourmessage" required id="yourmessage" maxlength="150"/></textarea>
  					<label for="message"><b>Čím vám na svatbě ještě uděláme radost?</b></label>
  				</div>
          <input class="kontakttlacitko" style="border: 4px solid #E19C00; -moz-border-radius: 15px; border-radius: 15px;overflow: hidden;" type="submit" id="form-submit" class="contact-form-btn" value="Poslat" required/>
  			</form>
  		</div>
</div>
</div>

<div class="textinformace">


<div class="odsazeni">
</div>
<h2 class="h2text">Podělte se s námi o vaše vzpomínky ze svatby</h2>
<div class="odsazeni">
<div class="row justify-content-center proobrazek">
<img class= "QR" src="/fotos/QR.png" alt="">
</div>
<div class="horizontalline rotate">
<img class= "" src="/fotos/roj2.svg" alt="" width="400">
</div>
</div>




<hr class="bg-danger border-2 border-top border-danger" />

</div>



<script>
  window.addEventListener('scroll', moveScrollIndicator);
  const scrollIndicatorElt = document.getElementById('scrollDiv')
  const maxHeight = window.document.body.scrollHeight - window.innerHeight;

  function moveScrollIndicator(e){
    const percentage = ((window.scrollY)/ maxHeight) * 100;
    scrollIndicatorElt.style.width = percentage + '%';
  };



</script>
</body>
<%- include("partials/footer") -%>
